{% extends "../base.html" %}
{% block title %}Manage categories{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <h1 class="p-3 h3 border-bottom border-secondary border-2">Nationalities List</h1>
  {% if messages %}
    <div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message|safe }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
<table class="table table-hover" id="myTable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    {% for n in nationalities %}
    <tr>
      <th scope="row">{{ n.id }}</th>
      <td>{{ n.name }}</td>
      <td>
        <a href="{% url 'edit_nationality' n.id %}" class="btn btn-outline-primary ml-3"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="{% url 'delete_nationality' n.id %}" class="btn btn-outline-danger"><i class="fa-regular fa-trash-can"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.min.js"></script>
<script>
let table = new DataTable('#myTable');
</script>
{% endblock %}